# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/Portfolio.slnx/FileContentIndex/58e2180c-e2dd-41b6-bac3-9795485605e8.vsidx
.vs/Portfolio.slnx/v18/.wsuo
.vs/Portfolio.slnx/v18/DocumentLayout.json
.vs/Portfolio.slnx/FileContentIndex/644d9533-237b-46ee-81cd-96ab0611a0c1.vsidx
.vs/Portfolio.slnx/FileContentIndex/bd6392f4-7b32-4b8d-8847-32bca24f0595.vsidx
.vs/Portfolio.slnx/FileContentIndex/c3cd0a92-5181-4351-ad73-77f25dc77d29.vsidx
.vs/Portfolio.slnx/FileContentIndex/e803f506-a18c-49fe-ac9b-c8311611625d.vsidx
.vs/Portfolio.slnx/FileContentIndex/18695877-8d1c-4252-aa7f-0a2751e6e78d.vsidx
