

.title {
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: Helvetica;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 20px;
  width: 100vw;
  padding-left: 5vw;
  position: fixed;
  z-index: 1;
}


.button-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
}

.button-container button {
  margin-bottom: 10px;
}


.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content-container {
  position: absolute;
  left: 10%; 
  top: 0;
  width: 90%; 
  height: 100%;
  padding: 20px;
  background-color: #fff; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.item {
  margin-right: 20px;
  margin-bottom: 10px;
}

.item:last-child {
  margin-right: 0;
}

.other {
  margin-top: 5px;
  font-size: 14px;
  color: white;
  font-family: Helvetica;
  font-style: italic;
  text-decoration: underline;
}
