.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: Helvetica;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 20px;
  width: 100vw;
  padding-left: 5vw;

}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.item {
  margin-right: 20px;
  margin-bottom: 10px;
}

.item:last-child {
  margin-right: 0;
}

.other {
  margin-top: 5px;
  font-size: 14px;
  color: white;
  font-family: Helvetica;
  font-style: italic;
  text-decoration: underline;
}
